<!DOCTYPE html>
<html>
    <style></style>
    <body>
        <h1>Nurse Login</h1>
        <div style="width: 25%;">
            <form action="/loginauth" method="POST">
                <fieldset>
                    <legend>Nurses Login:</legend>

                    <label for="nurseUser">Username:</label>
                </br>
                    <input type="text" id="nurseUser">
                </br>
                    <label for="nursePass">Password:</label>
                </br>
                    <input type="text" id="nursePass">
                </br>
                    <input type="submit" value="submit">
                </fieldset>
            </form>
        </div>
    </body>
</html>