<!DOCTYPE html>
<html>
    <style></style>
    <body>
        <h1>Supervisors Login</h1>
        <div style="width: 25%;">
            <form action="">
                <fieldset>
                    <legend>Supervisors Login:</legend>

                    <label for="supUser">Username:</label>
                </br>
                    <input type="text" id="supUser">
                </br>
                    <label for="supPass">Password:</label>
                </br>
                    <input type="text" id="supPass">
                </br>
                    <button style="margin-top: 5%;">Submit</button>
                </fieldset>

            </form>
        </div>
    </body>
</html>