<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>

<style>

</style>

<body>

    <div id='name' style="display: none;">{{.Name}}</div>
    <div id='id' style="display: none;">{{.ID}}</div>
    <div id='isNurse' style="display: none;">{{.IsNurse}}</div>
    <div id='isSupervisor' style="display: none;">{{.IsSupervisor}}</div>
    <div id='facility' style="display: none;">{{.FacilityID}}</div>
    <div id='region' style="display: none;">{{.RegionID}}</div>
    <div id='isLoggedIn' style="display: none;">{{.IsLoggedIn}}</div>
    
    
     <!-- Responsive navbar-->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#!">Supervisor View Page</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/nurselogin">Log Out</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 style="display: inline" class="fw-bolder mb-1">Welcome </h1><h1 style="display: inline" id="nursename"></h1>
                        <!-- Post meta content-->
                        <div id="datenow"class="text-muted fst-italic mb-2">#</div>
                        
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="https://www.conexusmedstaff.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXFoRHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--393d82bfa1a2ed891e63ab5348460aa52c994634/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpld2c2QzNKbGMybDZaVWtpRFRrd01IZzBNREJlQmpvR1JWUTZER2R5WVhacGRIbEpJZ3REWlc1MFpYSUdPd2RVT2dsamNtOXdTU0lRT1RBd2VEUXdNQ3N3S3pBR093ZFUiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--3aa85d99e8f03529886838ace0bec0261b03f59b/shutterstock_1720528870.jpg" alt="..." /></figure>
                    <!-- Post content-->
                   
                </article>
                
               
            </div>
            
            <!-- Side widgets-->
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header"><b>Personal Info</b></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <ul class="list-unstyled mb-0">
                                    <li ><p style="display: inline">Region:</p></li>
                                    <li ><p style="display: inline">Facility:</p></li>
                                    <li ><p style="display: inline">Employee type:</p></li>
                                    
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <ul class="list-unstyled mb-0">
                                    <li ><p style="display: inline" id="regionname">Works for Region:</p></li>
                                    <li ><p style="display: inline" id="facilityname">Works for Facility:</p></li>
                                    <li ><p style="display: inline" id="emptype">Employee type:</p></li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
             
                <div class="card mb-4">
                    <div class="card-header">Filter2</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" id="automplete-2" type="text" placeholder="Search ..." aria-label="Search ..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Enter</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">Filter3</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" id="automplete-2" type="text" placeholder="Search ..." aria-label="Search ..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Enter</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">Filter4</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" id="automplete-2" type="text" placeholder="Search ..." aria-label="Search ..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Enter</button>
                        </div>
                    </div>
                </div>
   
                
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Brooke, Dustin and Roberto</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
   

</body>
<script>
 $(document).ready(function () {

    date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("datenow").innerHTML = month + "/" + day + "/" + year;

    // values stored in memory. We can use them anywhere and as long as the session is on.
    sessionStorage.setItem('username',document.getElementById('name').innerText)
    sessionStorage.setItem('userid',document.getElementById('id').innerText)
    sessionStorage.setItem('isNurse',document.getElementById('isNurse').innerText)
    sessionStorage.setItem('isSupervisor',document.getElementById('isSupervisor').innerText)
    sessionStorage.setItem('facilityId',document.getElementById('facility').innerText)
    sessionStorage.setItem('regionId',document.getElementById('region').innerText)
    sessionStorage.setItem('isLoggedIn',document.getElementById('isLoggedIn').innerText)
    console.log(sessionStorage.getItem("username"))
    console.log(sessionStorage.getItem("userid"))
    console.log(sessionStorage.getItem("isNurse"))
    console.log(sessionStorage.getItem("isSupervisor"))
    console.log(sessionStorage.getItem("facilityId"))
    console.log(sessionStorage.getItem("regionId"))
    console.log(sessionStorage.getItem("isLoggedIn"))
    //sessionStorage.clear()
    
    var nurseName= document.getElementById('nursename')
    nurseName.textContent= sessionStorage.getItem("username") + "!"

    personalInfo()

 })
 
  
 function personalInfo(){

if(sessionStorage.getItem("isNurse")=="True"&& sessionStorage.getItem("isSupervisor")=="False"){
    document.getElementById("emptype").innerHTML ="Nurse"
}
else if(sessionStorage.getItem("isNurse")=="True"&& sessionStorage.getItem("isSupervisor")=="True"){
    document.getElementById("emptype").innerHTML ="Nurse/Supervisor"
}
if(sessionStorage.getItem("isNurse")=="False"){
    document.getElementById("emptype").innerHTML ="Supervisor"
}

$.ajax({
            url: `http://localhost:3030/getregionandfacility?fid=${sessionStorage.getItem("facilityId")}&rid=${sessionStorage.getItem("regionId")}`,
            datatype: "json",
            type: "GET",
            success: function (data) {
                var jsonparsed = JSON.parse(data)
                document.getElementById("facilityname").innerHTML =jsonparsed["FName"]
                document.getElementById("regionname").innerHTML =jsonparsed["RName"]
                
                
                
            }
            
        });




}

    
</script>
</html>